package ${packageName}.entity;

#foreach ($import in $importList)
import ${import};
#end
import com.baomidou.mybatisplus.annotation.*;
import lombok.Data;

@Data
@TableName("${tableName}")
public class ${className} {

#foreach ($column in $columns)
    #if($column.isPk == 1)
    @TableId(type = IdType.AUTO)
    #end
    #if($column.javaType == 'LocalDateTime')
    private LocalDateTime ${column.javaField};
    #else
    private ${column.javaType} ${column.javaField};
    #end

#end
}
