# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/node_modules/
/admin-system/admin-frontend/node_modules/
/admin-system/admin-frontend/dist/
/admin-system/admin-backend/target/
/.idea/
