<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.mapper.OssFileMapper">

    <resultMap id="OssFileResult" type="com.admin.entity.OssFile">
        <id property="id" column="id"/>
        <result property="originalName" column="original_name"/>
        <result property="fileName" column="file_name"/>
        <result property="filePath" column="file_path"/>
        <result property="fileSize" column="file_size"/>
        <result property="fileType" column="file_type"/>
        <result property="url" column="url"/>
        <result property="uploadUserId" column="upload_user_id"/>
        <result property="uploadUserName" column="upload_user_name"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="selectList" resultMap="OssFileResult">
        SELECT * FROM sys_oss_file
        <where>
            <if test="originalName != null and originalName != ''">
                AND original_name LIKE CONCAT('%', #{originalName}, '%')
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectById" resultMap="OssFileResult">
        SELECT * FROM sys_oss_file WHERE id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_oss_file (original_name, file_name, file_path, file_size, file_type, url, upload_user_id, upload_user_name)
        VALUES (#{originalName}, #{fileName}, #{filePath}, #{fileSize}, #{fileType}, #{url}, #{uploadUserId}, #{uploadUserName})
    </insert>

    <delete id="deleteById">
        DELETE FROM sys_oss_file WHERE id = #{id}
    </delete>
</mapper>
